body::-webkit-scrollbar, .content .scrolling::-webkit-scrollbar {
  width: 0.2em; }

body::-webkit-scrollbar-thumb, .content .scrolling::-webkit-scrollbar-thumb {
  background-color: #03C03C;
  border-radius: 0.1em;
  outline: 1px solid #222; }

@font-face {
  font-family: "Biko";
  src: url("../font/Biko-Regular.otf") format("opentype"); }

body {
  background-color: #111; }

p {
  color: #fff;
  text-align: left;
  font-size: 1em;
  font-family: Biko, sans-serif; }

input[type=search] {
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-family: Biko, sans-serif;
  margin: 5px;
  border: 2px solid #222;
  padding: 12px 20px 12px 40px;
  sizing: border-box;
  background-color: #111;
  width: 1060px; }
  input[type=search]:focus {
    color: 1px solid black; }

.header {
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-family: Biko, sans-serif;
  margin: 10px; }

hr {
  border-color: #03C03C; }

.content {
  width: 1070px;
  margin: auto; }
  .content .project {
    margin: 5px;
    padding: 0px;
    sizing: border-box;
    width: 200px;
    height: 300px;
    background-color: #222;
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out; }
    .content .project:hover {
      background-color: #03C03C; }
    .content .project .projectImage {
      width: 200px;
      height: 200px;
      opacity: 0.35;
      overflow: hidden;
      display: block; }
    .content .project .title {
      color: #fff;
      text-align: left;
      font-size: 1em;
      font-family: Biko, sans-serif;
      position: relative;
      top: -40px;
      left: 5px;
      padding: 3px; }
    .content .project .desc {
      color: #fff;
      text-align: center;
      font-size: 1em;
      font-family: Biko, sans-serif;
      margin: 0px 10px 10px 10px;
      border: none;
      padding: 5px;
      top: -40px;
      position: relative; }
  .content .scrolling {
    overflow-y: scroll;
    overflow-x: hidden; }
