body::-webkit-scrollbar {
  width: 0.2em; }

body::-webkit-scrollbar-thumb {
  background-color: #FFC107;
  border-radius: 0.1em;
  outline: 1px solid #FFC107; }

.project::-webkit-scrollbar {
  display: none; }

.project::-webkit-scrollbar-thumb {
  display: none; }

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.ttf") format("truetype"); }

/* The Image used here is the Small Magellanic Cloud, Taken by the chandra x-ray observatory at NASA */
/* http://chandra.harvard.edu/photo/2013/ngc602/ */
body {
  background-color: #212121;
  background-size: cover;
  background-image: url("../img/ngc602.jpg"); }

p {
  color: #FFFFFF;
  text-align: left;
  font-size: 1em;
  font-family: Quicksand, sans-serif; }

form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

.techx {
  width: 100px; }

.header {
  background-color: #212121;
  text-align: center;
  position: fixed;
  padding: 5px;
  opacity: 1;
  z-index: 2;
  width: 100%;
  border-bottom: solid #FFC107 2px; }
  .header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3.5em;
    font-family: Quicksand, sans-serif;
    margin: auto;
    display: inline;
    vertical-align: -10px; }
  .header h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    font-family: Quicksand, sans-serif;
    margin: auto;
    display: inline; }

.sub-header {
  padding: 5px;
  padding-top: 68px;
  width: 100%;
  border-bottom: solid #FFC107 2px;
  background-color: #212121;
  text-align: center;
  opacity: 1;
  z-index: 1;
  margin-bottom: 5px; }

button {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  font-family: Quicksand, sans-serif;
  border: 2px solid #757575;
  padding: 4px 4px 4px 4px;
  margin: 2.5px;
  outline: 0;
  background-color: #212121;
  display: inline-block;
  /* make into a placeholder */
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  flex-grow: 1; }
  button:focus {
    color: 1px solid black; }

input[type=search] {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  font-family: Quicksand, sans-serif;
  border: 2px solid #757575;
  padding: 4px 20px 4px 40px;
  margin: 2.5px;
  flex-grow: 11;
  outline: 0;
  display: inline-block;
  background-color: #212121;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border-radius: 0px; }
  input[type=search]:focus {
    color: 1px solid black; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

a:hover {
  text-decoration: none; }

.project {
  margin: 2.5px;
  padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  font-family: Quicksand, sans-serif;
  width: 200px;
  height: 300px;
  background-color: #212121;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  border: solid #757575 2px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .project:hover {
    background-color: #FFAB00; }
  .project .projectImage {
    width: 200px;
    height: 200px;
    opacity: 0.5;
    overflow: hidden;
    display: block; }
  .project .title {
    color: #FFFFFF;
    text-align: left;
    font-size: 1em;
    font-family: Quicksand, sans-serif;
    position: relative;
    top: -25px;
    left: 5px;
    padding: 3px; }
  .project .desc {
    color: #FFFFFF;
    text-align: left;
    font-size: 1em;
    font-family: Quicksand, sans-serif;
    margin: 0px 10px 10px 10px;
    border: none;
    padding: 5px;
    top: -40px;
    position: relative;
    margin-bottom: -40px; }

.footer {
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  font-family: Quicksand, sans-serif;
  border-top: solid #FFC107 2px;
  padding: 5px;
  width: 100%;
  background-color: #212121;
  text-align: center;
  opacity: 1;
  z-index: 1; }
  .footer a:hover {
    text-decoration: none;
    color: #e4002b; }
  .footer a {
    color: #0033a0; }

::-webkit-input-placeholder {
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  font-family: Quicksand, sans-serif; }

::-moz-placeholder {
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  font-family: Quicksand, sans-serif; }

:-ms-input-placeholder {
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  font-family: Quicksand, sans-serif; }
