<div class="ui hidden divider"></div>
<div class="ui middle aligned center aligned stackable three column grid">
  <div class="column">
    <h2 class="ui inverted image header">
      <img src="/img/GALAXY.svg" class="image">
      <div class="content">
        Sign into Your Account
      </div>
    </h2>
    <form class="ui large form" method="post" action="/auth/signin">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <!-- I know this is called an email , but passport takes the req.body.username, not req.body.email -->
            <input id="email" name="username" placeholder="Email address" type="text">
          </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="password" name="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="ui fluid large gallexy-background submit button">Explore</div>
      </div>
      <div id="error" class="ui server error message"></div>
    </form>
    <div class="ui message">
      Sign up <a href="/auth/signup">here</a>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<script src="/js/page/signin.js"></script>
