<div class = "ui out-of-body inverted stackable attached vertical footer segment">
  <div class= "ui center aligned container">
    <h3 class="gallexy">A project gallery for TechX</h3>
    <h3>Images courtesy of <a class="nasa" href="https://www.nasa.gov/">NASA</a></h3>
    <a href = "http://techx.mit.edu">
      <img id="techx" src="/img/techx-logo.svg" alt="Powered by MIT TechX" style = "max-width:200px;">
    </a>
  </div>
</div>
