<div class="header">
    <a href= "/"><h1>Galle<span style="font-weight:900;">X</span>y</h1></a>
    <button class="button" onclick="signInClicked()">Sign In</button>
    <button class="button" onclick="signUpClicked()">Sign Up</button>
</div>
