<div class="ui hidden divider"></div>
<div class="ui middle aligned center aligned stackable two column grid">
  <div class="column">
    <div class="ui segment">
      <h2 class="ui header">{{#if email}}{{email}}, {{/if}}You're all set!</h2>
      <p>Thanks for signing up for GalleXy, We won't send you any emails except for account recovery.</p>
      <p>Please sign in <a href="/auth/signin">here</a>.</p>
      <p>Go back to the main page <a href="/">here</a>.</p>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>
