#header {
  font-family: "Biko" !important;
  margin-top: 20px;

  .menu {
    margin: 0;
  }

  #letter {
    width: 3em;
    padding: 0;
    margin-left: 4px;

    img {
      width: 100%;
    }
  }

  #title {
    padding-top: 0.5em;
    font-size: 2em;
  }

  .right.menu {
    margin-right: 4px;

    div.item.link {
      padding-top: 0;
      padding-bottom: 0;
      text-align: right;
    }
  }

  .link {
    white-space: nowrap;
  }

  .divider {
    @media screen and (max-width: 768px) {
      display: none
    }
  }
}
