/* TODO: separate appearance classes from display */
/* timeline elements */
.timeline-parent {
  position: relative;
  height: 10%;
}

.timeline {
  position: absolute;
  left: 4%;
  top: 45%;
  right:4%;
  border-radius: 15%;
  height: 10%;
  overflow: visible;
  background-color: #000000;
}

/* Timeline node */
.node-wrapper {
  position: absolute;
  display: inline-block;
  transform: translateY(-45%);
  width: 3%;
  padding-bottom: 3%;
}

.node-wrapper > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.node {
  border-radius: 50%;
  background-color: #6EBE45;
}

.node:hover {
  transform: scale(1.3);
}

/* image wrapper */
.aspect-ratio-box {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

/* rest of the document */

.page-title {
  font-size: 3em;
}

.out-of-body {
  background-color: #212121 !important;
}

body {
  background-color: #101010;
  background-image: url("../img/galaxy.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body, html {
   margin: 0;
   padding: 0;
   height: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #212121 !important;
  opacity: 1 !important;
}

::-moz-placeholder { /* mozilla browsers */ /* TODO: Make this compliant for ALL browsers */
  color: #212121 !important;
  opacity: 1 !important;
}

.nasa {
  color: #0033a0;
}

.nasa:hover {
  text-decoration: none;
  color: #e4002b;
}

.search {
  width: 100%;
}

.force-margin {
  margin: 0 !important;
}

.input {
  width: 100%;
}

.gallexy {
  color: #0047AB;
}

a.gallexy {
  color: #0047AB;
}

/* it took ages to find the exact rule in the code for the toggle sliders, but i found it*/
.ui.toggle.checkbox input:checked ~ .box::before, .ui.toggle.checkbox input:checked ~ label::before {
  background-color: #0047AB !important;
}

.ui.toggle.checkbox input:focus:checked ~ .box::before, .ui.toggle.checkbox input:focus:checked ~ label::before {
  background-color: rgb(39, 110, 209)  !important;
}

.bar, .gallexy-background {
  background-color: #0047AB !important;
}

/* Pushing footer down */
/* Code used from: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */

#container {
  min-height: 100%;
  position: relative;
  overflow: hidden; /* to make sure the footer doesn't go past the page length*/
}

#body {
  padding-bottom: 205px; /* Height of the footer */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 205px;   /* Height of the footer */
}
