<div class="content quick-center">
<div class = "main-content-panel">
  <h2>404</h2>
  <h2 style="color: white;">This is not the webpage you were looking for</h2>
  <img style="margin: auto; max-width:500px; max-height:200px; width: auto; height: auto;" src="../public/img/jedimindtrick.jpeg">
  <h2 style="color: white;">You will return to the GalleXy <a href = "/">here</a></h2>
  <p>image credit <a href="http://www.starwars.com">starwars.com</a></p>
  </div>
</div>
<!-- Include scripts here-->
<script src="../public/js/nav.js"></script>
