<div class="ui hidden divider"></div>
<div class="ui inverted container segment">
    <h1 class="ui center aligned inverted header">Profile</h1>
    <div class="ui grid">
        <div class="column"></div>
        <div class="fourteen wide column">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                <div class=" aspect-ratio-box" style="background-image:url('/img/placeholder.png');"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <button class="ui inverted button"><i class="ui write icon"></i>Edit Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                <h2 class="ui inverted header">Angel Alvarez</h2>
                                <i class="ui inverted header"><a class="gallexy" href="mailto:alvareza@mit.edu">alvareza@mit.edu</a></i>
                                <h3 class="ui inverted header"> <a class="gallexy" href="#">Download Resume</a> </h3>

                            </div>
                            <div class="column">
                                <h2 class="ui inverted header">Class of 2020</h2>
                                <h3 class="ui inverted header">Computer Science</h3>
                            </div>
                        </div>
                        <div class="ui inverted divider"></div>
                        <div class="row">
                            <div class=" column">
                                <p>
                                    This is a bio, it's not a really amazing one,
                                    but this one is mine.
                                    it should be brief but descriptive, so choose your words wisely.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui inverted divider"></div>
            <h1 class="ui center aligned inverted header">Projects</h1>

            <div class="ui inverted stackable borderless menu">
                <div class="header item">
                    <a href="#" class="ui left floated header gallexy">Project Title | <i>time & project status</i></a>
                </div>
                <div class="right item">
                    <button class="ui right floated inverted green button">Add Updates</button><span>&ensp;</span>
                    <button class="ui right floated inverted black button">Settings</button><span>&ensp;</span>
                    <button class="ui right floated inverted red button">Delete</button>
                </div>
            </div>

            <div class="ui inverted stackable borderless menu">
                <div class="header item">
                    <a href="#" class="ui left floated header gallexy">Project Title | <i>time & project status</i></a>
                </div>
                <div class="right item">
                    <button class="ui right floated inverted green button">Add Updates</button><span>&ensp;</span>
                    <button class="ui right floated inverted black button">Settings</button><span>&ensp;</span>
                    <button class="ui right floated inverted red button">Delete</button>
                </div>
            </div>

            <div class="ui inverted stackable borderless menu">
                <div class="header item">
                    <a href="#" class="ui left floated header gallexy">Project Title | <i>time & project status</i></a>
                </div>
                <div class="right item">
                    <button class="ui right floated inverted green button">Add Updates</button><span>&ensp;</span>
                    <button class="ui right floated inverted black button">Settings</button><span>&ensp;</span>
                    <button class="ui right floated inverted red button">Delete</button>
                </div>
            </div>

            <button class="ui inverted button"><i class="ui rocket icon"></i>  New Project</button>
            <div class="ui inverted divider"></div>

            <h1 class="ui center aligned inverted header">Options</h1>
            <div class="ui grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Publicity</h4>
                    <div class="ui divider"></div>
                    <div class="ui toggle checkbox">
                        <input name="visible" type="checkbox" checked="checked"> <!-- DONT FORGET TO SET THIS IN THE HANDLEBARS -->
                        <label><p style="color:white;">Profile visible to others</p></label>
                    </div>
                    <br><br>
                    <p><a class="gallexy" href="/profile">View Profile</a></p>
                </div>
                <div class="six wide column"></div>
                <div class="five wide column">
                    <h4 class="ui inverted header">Security</h4>
                    <div class="ui divider"></div>
                    <p><a class="gallexy" href="/profile">Update Email</a></p>
                    <p><a class="gallexy" href="/profile">Update Password</a></p>
                    <p><a class="gallexy" href="/profile">Delete Account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
