<div class="ui hidden divider"></div>
  <div class="column">
    <div class="ui container segment">
      <h1 class="ui center aligned header">I'm sorry, but an error has occurred.</h1>
      <p class="ui center aligned header">If you get this page multiple times, please send an email to <a href="mailto:gallexy@mit.edu">gallexy@mit.edu</a> describing the cause of the issue.</p>
      <p class="ui center aligned header">Your cooperation is greatly appreciated.</p>
      <h3 class="ui center aligned header">
        <a href="/">return to the main page</a>
      </h3>
      <h2>{{message}}</h2>
      <h3>{{error}}</h3>
    </div>
</div>
<div class="ui hidden divider"></div>
