<div class="ui hidden divider"></div>
<div class="ui middle aligned center aligned three column grid">
  <div class="column">
    <div class="ui segment">
      <h1>{{message}}</h1>
      <h2>{{error.status}}</h2>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
