<div class="ui hidden divider"></div>
<div class = "ui center aligned text container">
    <span class = "ui inverted header">
      <div class="ui inline dropdown">
        <div class="gallexy text">
          ProjX
        </div>
        <div class="menu">
          <div class=" item" data-value="projx">
            ProjX
          </div>
          <div class=" item" data-value="hack">
            HackMIT
          </div>
          <div class="item" data-value="think">
            Think
          </div>
          <div class="item" data-value="make">
            MakeMIT
          </div>
        </div>
      </div>
      projects sorted in order of
    <div class="ui inline dropdown">
      <div class="gallexy text">
        most popular
      </div>
      <div class="menu">
        <div class=" item" data-value="popular">
          most popular
        </div>
        <div class=" item" data-value="recent">
          most recent
        </div>
        <div class="item" data-value="random">
          some random arrangement
        </div>
      </div>
    </div>
    .
  </span>
</div>

<div class="ui divider"></div>
<!-- PROJECTS -->
<div class="ui container" id="projects">
  <div class="ui four doubling cards">
    <!-- projects go here -->
    <a class = "ui orange card centered" href="/project">
      <div class = "image">
        <img src = "/img/placeholder.png">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/placeholder.png">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/placeholder.png">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/placeholder.png">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/placeholder.png">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/placeholder.png">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
  </div>
</div>

<div class="ui hidden divider"></div>

<!-- INCLUDE SCRIPTS HERE -->
<script src="/js/splash.js" ></script>
