<div class="ui hidden divider"></div>
{{>projectFilter}}

<div class="ui divider"></div>
<!-- PROJECTS -->
<div class="ui container" id="projects">
  {{>projectCards}}
</div>

<div class="ui hidden divider"></div>

<!-- INCLUDE SCRIPTS HERE -->
<script src="/js/splash.js" ></script>
