<!-- NAV MENU -->
<div class="ui out-of-body inverted attached stackable borderless menu">
  <div class="item">
    <div class="ui out-of-body right attached fixed button" href="/">
      <img class="ui mini image " src="/img/GALAXY.svg">
    </div>
  </div>
  <div class="ui container">
    <a class = "header item" href="/">
      <span class="page-title">GalleXy</span>
    </a>
    <div class="item">
      <button class="ui compact button inverted">Sign In</button>
    </div>
    <div class="item">
      <button class="ui compact button inverted">Sign Up</button>
    </div>
    <div class="right menu">
      <div class="item">
        <div class= "ui category search">
        <div class="ui icon inverted input">
          <input class="prompt" type="text" placeholder="Search Projects..."></input>
          <i class="search icon project-search"></i>
        </div>
        <div class="results">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="ui hidden divider"></div>

<!-- PROJECTS -->
<div class="ui container">
  <div class="ui four doubling cards">

    <!-- projects go here -->

    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/Feels_good_man.jpg">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>

    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/Feels_good_man.jpg">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>

    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/Feels_good_man.jpg">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>

    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/Feels_good_man.jpg">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>
    <a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/Feels_good_man.jpg">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a><a class = "ui card centered" href="/project">
      <div class = "image">
        <img src = "/img/Feels_good_man.jpg">
      </div>
      <div class="content">
        <div class="header">Pepe restoration project</div>
        <div class="meta">
          <span class="author"> Angel Alvarez </span>
        </div>
        <div class="description">
          <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
      <div class="extra content">
        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
      </div>
    </a>

  </div>
</div>

<!-- FOOTER -->

  <div class="ui hidden divider"></div>

<div class = "ui out-of-body inverted stackable attached vertical footer segment">
  <div class= "ui center aligned container">
    <h3>A project gallery for ProjX and HackMIT</h3>
    <h3>Images courtesy of <a class="nasa" href="https://www.nasa.gov/">NASA</a></h3>
    <a href = "http://techx.mit.edu">
      <img id="techx" src="/img/techx-logo.svg" alt="Powered by MIT TechX" style = "max-width:200px;">
    </a>
  </div>
</div>
<!-- INCLUDE SCRIPTS HERE -->
<script src="/js/splash.js" ></script>
