<!DOCTYPE html>
<html>
<head>
  <title>Brain Storm</title>
  <link rel="stylesheet" type="text/css" href="semantic.min.css">
  <link rel="stylesheet" type="text/css" href="icon.min.css">
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous">
</script>
<script src="semantic.min.js"></script>
</head>
<body>
  <!-- NAV MENU -->
  <div class="ui inverted attached stackable menu">
    <div class="ui container">
      <div class = "header item">
        <h2>Gallexy</h2>
      </div>
      <div class="right menu">
        <div class="item">
          <div class= "ui category search">
          <div class="ui icon inverted input">
            <input class="prompt" type="text" placeholder="Search Projects..."></input>
            <i class="search icon"></i>
          </div>
          <div class="results">
          </div>
          </div>
        </div>
        <div class="item">
          <button class="ui compact button inverted">Sign In</button>
        </div>
        <div class="item">
          <button class="ui compact button inverted">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

    <div class="ui hidden divider"></div>

  <!-- PROJECTS -->
  <div class="ui container">
    <div class="ui four doubling cards">
      <div class = "ui card centered">
        <div class="image">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg">
        </div>
        <div class="content">
          <a class="header">Pepe restoration project</a>
          <div class="meta">
            <span class="date">Spring 2016</span>
          </div>
          <div class="description">
            We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,
          </div>
        </div>
        <div class="extra content">
          <p>Completed</p>
        </div>
      </div>

      <div class = "ui card centered">
        <div class="image">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg">
        </div>
        <div class="content">
          <a class="header">Pepe restoration project</a>
          <div class="meta">
            <span class="date">Spring 2016</span>
          </div>
          <div class="description">
            We want to rescue the rarest pepes from the brink of extinction.
          </div>
        </div>
        <div class="extra content">
          <p>Completed</p>
        </div>
      </div>

      <div class = "ui card centered">
        <div class="image">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg">
        </div>
        <div class="content">
          <a class="header">Pepe restoration project</a>
          <div class="meta">
            <span class="date">Spring 2016</span>
          </div>
          <div class="description">
            We want to rescue the rarest pepes from the brink of extinction.
          </div>
        </div>
        <div class="extra content">
          <p>Completed</p>
        </div>
      </div>

      <div class = "ui card centered">
        <div class="image">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg">
        </div>
        <div class="content">
          <a class="header">Pepe restoration project</a>
          <div class="meta">
            <span class="date">Spring 2016</span>
          </div>
          <div class="description">
            We want to rescue the rarest pepes from the brink of extinction.
          </div>
        </div>
        <div class="extra content">
          <p>Completed</p>
        </div>
      </div>

      <div class = "ui card centered">
        <div class="image">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg">
        </div>
        <div class="content">
          <a class="header">Pepe restoration project</a>
          <div class="meta">
            <span class="date">Spring 2016</span>
          </div>
          <div class="description">
            We want to rescue the rarest pepes from the brink of extinction.
          </div>
        </div>
        <div class="extra content">
          <p>Completed</p>
        </div>
      </div>

      <div class = "ui card centered">
        <div class="image">
          <img src="http://i0.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg">
        </div>
        <div class="content">
          <a class="header">Pepe restoration project</a>
          <div class="meta">
            <span class="date">Spring 2016</span>
          </div>
          <div class="description">
            We want to rescue the rarest pepes from the brink of extinction.
          </div>
        </div>
        <div class="extra content">
          <p>Completed</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
