<div class = "ui large attached stackable menu">
  <div class = "ui container">
    <a class=" olive item"><h1 class = "ui header">GalleXy</h1></a>
    <a class ="item">Sign In</a>
    <a class = "item">Sign Up</a>
  </div>
</div>

<div class="ui segment">hi</div>
