<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <!-- Logo -->
    <link rel="icon" href="/img/GALAXY.png">
    <!-- scripts -->
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="/semantic/semantic.min.js"></script>
    <!-- ultimately I want my code to overwrite the semantic code if it has to-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main-body">
    {{{body}}}
  </body>
</html>
