<div class="ui hidden divider"></div>
<div class="ui inverted container segment">
    <h1 class="ui center aligned inverted header">Name (if name available)</h1>
    <div class="ui grid">
        <div class="column"></div>
        <div class="fourteen wide column">
            <div class="ui grid">
                <div class="four wide column">
                    <div class=" aspect-ratio-box" style="background-image:url('/img/placeholder.png');"></div>
                </div>
                <div class="twelve wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                <i class="ui inverted header"><a class="gallexy" href="mailto:alvareza@mit.edu">alvareza@mit.edu</a></i>
                                <h3 class="ui inverted header"> <a class="gallexy" href="#">Download Resume (if available)</a> </h3>

                            </div>
                            <div class="column">
                                <h2 class="ui inverted header">Class of 2020 (if available)</h2>
                                <h3 class="ui inverted header">Computer Science (if available)</h3>
                            </div>
                        </div>
                        <div class="ui inverted divider"></div>
                        <div class="row">
                            <div class=" column">
                                <h3>Bio</h3>
                                <p>
                                    This is a bio, it's not a really amazing one, but this one is mine. it should be brief but descriptive, so choose your words
                                    wisely.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui inverted divider"></div>
            <h1 class="ui center aligned inverted header">Projects</h1>

            <div class="ui four doubling cards">
                <!-- projects go here -->
                <a class="ui orange card centered" href="/project">
                    <div class="image">
                        <img src="/img/placeholder.png">
                    </div>
                    <div class="content">
                        <div class="header">Pepe restoration project</div>
                        <div class="meta">
                            <span class="author"> Angel Alvarez </span>
                        </div>
                        <div class="description">
                            <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
                    </div>
                </a>
                <a class="ui card centered" href="/project">
                    <div class="image">
                        <img src="/img/placeholder.png">
                    </div>
                    <div class="content">
                        <div class="header">Pepe restoration project</div>
                        <div class="meta">
                            <span class="author"> Angel Alvarez </span>
                        </div>
                        <div class="description">
                            <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
                    </div>
                </a>
                <a class="ui card centered" href="/project">
                    <div class="image">
                        <img src="/img/placeholder.png">
                    </div>
                    <div class="content">
                        <div class="header">Pepe restoration project</div>
                        <div class="meta">
                            <span class="author"> Angel Alvarez </span>
                        </div>
                        <div class="description">
                            <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
                    </div>
                </a>
                <a class="ui card centered" href="/project">
                    <div class="image">
                        <img src="/img/placeholder.png">
                    </div>
                    <div class="content">
                        <div class="header">Pepe restoration project</div>
                        <div class="meta">
                            <span class="author"> Angel Alvarez </span>
                        </div>
                        <div class="description">
                            <p>We want to rescue the rarest pepes from the brink of extinction. Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <p><i class="checkmark icon"></i> Completed Spring 2016</p>
                    </div>
                </a>  
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>