<!-- page for individual projects -->
<div class="content">
  <div class="info"></div>
  <div class="proj"></div>
  <div class="timeline">
    <div id="line">
      <!-- get the nodes and specify their locations -->
      <div class="node"> </div>
    </div>
  </div>
</div>
<!-- Include scripts here-->
<script src="../public/js/nav.js"></script>
<script src="../public/js/timeline.js"></script>
