<!-- NAV MENU -->

<div class="ui out-of-body inverted attached stackable borderless menu">
  <div class="ui container">
  <div class="item">
    <img class="ui mini image" src="/img/GALAXY.svg">    </div>
    <a class = "down header item" href="/">
      <span class="page-title">Galle<span class="gallexy">X</span>y</span>
    </a>
    <div class="item">
      <button class="ui compact button inverted">Sign In</button>
    </div>
    <div class="item">
      <button class="ui compact button inverted">Sign Up</button>
    </div>
    <div class="right item">
      <div class= "ui fluid search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search Projects..."></input>
          <i class="search icon project-search"></i>
        </div>
        <div class="results">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<!-- PROJECT -->

<div class="ui grid container">
  <div class = "five wide column">
    <div class="ui raised segment">
      <h2 class="ui header">Harambe's Magical Adventure</h2>
      <h4 class="ui header"><a href="/author">Matthew Burns</a></h4>
      <p>Some Description of matthew's project. isn't this excellent brother?</p>
      <h4 class="ui header">Project Status</h4>
      <div class="ui yellow progress" data-percent="45" id="project-status"> <!-- TODO: use HBS to change status message -->
        <div class=" bar">
          <div class=" progress"></div>
        </div>
        <div class="label">Halfway there!</div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="dollar icon"></i>Budget Breakdown
      </h4>

      <div class="ui bulleted list">
        <div class="item">Gorilla Corpse</div>
        <div class="item">Wizard Hat</div>
      </div>

    </div>
  </div>
  <div class = "eleven wide column">
    <div class="ui raised segment">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="ui raised segment">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<!-- FOOTER TODO: FLOAT HEADER TO BOTTOM SOMEHOW -->

<div class="ui hidden divider"></div>

<div class = "ui out-of-body inverted stackable attached vertical footer segment">
  <div class= "ui center aligned container">
    <h3>A project gallery for ProjX and HackMIT</h3>
    <h3>Images courtesy of <a class="nasa" href="https://www.nasa.gov/">NASA</a></h3>
    <a href = "http://techx.mit.edu">
      <img id="techx" src="/img/techx-logo.svg" alt="Powered by MIT TechX" style = "max-width:200px;">
    </a>
  </div>
</div>
<!-- INCLUDE SCRIPTS HERE -->
<script src="/js/project.js"></script>
