<div class="ui hidden divider"></div>
<div class="ui middle aligned center aligned stackable three column grid">
  <div class="column">
    <div class="ui segment">
      <h2 class="ui header">
        Confirmation email sent!
      </h2>
      <p>Please check your email to finish account setup. Your verification link lasts for 24 hours. If you cannot verify in that time frame you can try again after it has expired</p>
      <p>Go back to the main page <a href="/">here</a>.</p>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>
