<!-- TODO: Create necesary API and validation for these forms -->
<div class="ui hidden divider"></div>
<!-- Basing much of this code off of the Semantic UI signup template https://semantic-ui.com/examples/login.html -->

<!-- TODO: IMPLEMENT EMAILER TO AUTHORIZE THIS ACCOUNT CREATION REQUEST, HAVE A LANDING PAGE FOR THE EMAILER, AS WELL AS A signup2 page to give a notice of the email -->
<div class="ui middle aligned center aligned stackable three column grid">
  <div class="column">
    <h2 class="ui inverted image header">
      <img src="img/GALAXY.svg" class="image">
      <div class="content">
        Sign up for an Account
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="email" placeholder="Enter your full MIT email" type="text">
          </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input name="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input name="confirm-password" placeholder="Please confirm your password" type="password">
            </div>
        </div>
        <div class="ui fluid large gallexy-background submit button">Start Exploring</div>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message">
      Already have an account? Sign in <a href="/signin">here</a>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
