<!-- this is a page where you can send out a post request to sign up to list your project on our website-->
<div class="content quick-center">
  <div class="main-content-panel">
    <h2>Sign Up</h2>
    <form id="signup" class = "sign-form" method="post" action="/signup">
    <table>
      <tr>
        <td><label for="email">Email</label></td>
        <td><input class="form-element" id="email" name="email" placeholder="must be an @mit.edu"></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input class="form-element" id="password" name="password" type="password"></td>
      </tr>
      <tr>
        <td><label for="password">Confirm Password</label></td>
        <td><input class="form-element" id="password" name="passwordConfirm" type="password"></td>
      </tr>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input class="form-element" id="name" name="name"></td>
      </tr>
      <tr>
        <td></td>
        <td>
            <button form="signup" type="submit">Create</button>
            <button onclick="back()">Back</button>
        </td>
      </tr>
    </table>
    </form>
  </div>
</div>
<!-- Include scripts here-->
<script src="../public/js/nav.js"></script>
