<!-- splash page that the user is directed to when they come to the website -->
<div class="content">
<div class="sub-header">
  <form class="search-form" autocomplete="off" method="post" action="/search">
      <input type="search" id="search-bar" name="search" placeholder="Find Projects...">
      <button  type="submit" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
  </form>
</div>
  <div id="projects">
    {{#each projects}}
    <a href={{this.link}}>
      <div class="project">
        <img class="projectImage", src={{this.image}}/>
        <p class="title"><strong>{{this.title}}</strong></p>
        <p class="desc">{{this.desc}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>
<!-- Include scripts here-->
<script src="../public/js/main.js"></script>
<script src="../public/js/nav.js"></script>
