/* TODO: separate appearance classes from display */
/* timeline elements */
.timeline-parent {
  position: relative;
  height: 10%;
}
.timeline {
  position: absolute;
  left: 4%;
  top: 45%;
  right:4%;
  background-color: #000000;
  border-radius: 15%;
  height: 10%;
  overflow: visible;

}
/* Timeline node */
.node-wrapper {
  position: absolute;
  display: inline-block;
  width: 3%;
  transform: translateY(-45%);
  padding-bottom: 3%;
}

.node-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.node {
  border-radius: 50%;
  background-color: #6EBE45;
}

.node:hover {
  transform: scale(1.3);
}

/* rest of the document */

.page-title {
  font-size: 3em;
}
.out-of-body {
  background-color: #212121 !important;
}
body {
  background-color: #101010;
  background-image: url("../img/galaxy.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body, html {
   margin:0;
   padding:0;
   height:100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #212121 !important;
  opacity: 1 !important;
}
::-moz-placeholder { /* mozilla browsers */ /* TODO: Make this compliant for ALL browsers */
  color: #212121 !important;
  opacity: 1 !important;
}
.nasa {
  color: #0033a0;
}
.nasa:hover {
  text-decoration: none;
  color: #e4002b;
}
.search {
  width: 100%;
}

.input {
  width: 100%;
}

.gallexy {
  color: #6EBE45;
}

.bar, .gallexy-background {
  background-color: #6EBE45 !important;
}

/* Pushing footer down */
/* Code used from: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */

#container {
   min-height:100%;
   position:relative;
}

#body {
  padding-bottom:210px; /* Height of the footer */
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:210px;   /* Height of the footer */
}
