@mixin set-font-properties($tcolor: $text-color, $size-multiplier: 1, $talign: center) {
      color:$tcolor;
      text-align: $talign;
      font-size: 1em * $size-multiplier;
      font-family: Biko, sans-serif;
}

@mixin set-size-properties($class) {
  @each $property, $value in $class {
    #{$property}: $value;
  }
}
