%scrollbar {
  &::-webkit-scrollbar {

      width: $scrollbar-width;
  }

  &::-webkit-scrollbar-thumb {
      background-color: $accent;
      border-radius: $scrollbar-width/2;
      outline: $scrollbar-outline;
  }
}
%scrollbarNone {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
