    <div class="ui container compact center aligned inverted segment">
      <span class = "ui inverted header">
        <div class="ui inline dropdown" id="project-type">
          <div class="gallexy text">
            ProjX
          </div>
          <div class="menu">
            <div class=" item" data-value="projx">
              ProjX
            </div>
            <div class=" item" data-value="hack">
              HackMIT
            </div>
            <div class="item" data-value="think">
              Think
            </div>
            <div class="item" data-value="make">
              MakeMIT
            </div>
            <div class="item" data-value="any">
              Any
            </div>
          </div>
        </div>
        projects sorted in order of
      <div class="ui inline dropdown"  id="project-order">
        <div class="gallexy text">
          most popular
        </div>
        <div class="menu">
          <div class="item" data-value="popular">
            most popular
          </div>
          <div class="item" data-value="recent">
            most recent
          </div>
          <div class="item" data-value="random">
            some random arrangement
          </div>
        </div>
      </div>
      .
    </span>
  </div>
