<div id="header" class="ui segment">
  <div class="ui text menu">

    <!-- left -->
    <a id="letter" class="item" href="/home"><img src="/assets/img/projx-letter.svg"></a>
    <div id="title" class="item biko">{{ title }}</div>

    <!-- right -->
    <div class="ui right stackable text menu">
      <a href="/home" class="item link biko">home</a>
      <div class="item divider biko">|</div>
      <a href="/profile/{{ user.email }}" class="item link biko">profile</a>
      <div class="item divider biko">|</div>
      <a href="/admin" class="ui right aligned item link biko" ng-show="user.isAdmin">admin</a>
      <div class="item divider biko" ng-show="user.isAdmin">|</div>
      <a ng-click="logout()" class="item link biko">log out</a>
    </div>

  </div>
</div>
