<loader-include></loader-include>

<div id="home-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- announcements -->
        <h2>announcements</h2>
        Applications for fall 2016 have now closed. Stay tuned for announcements about our other events!
        <br><br>
        <a href="http://projx.mit.edu" target="_self">back to projx.mit.edu</a>
        <br>

        <!-- project list -->
        <h2>your projects</h2>
        <div id="project-cards" class="ui cards">
          <a class="ui card" ng-repeat="project in projects" href="/project/{{ project._id }}">
            <div class="content">
              <div class="header">
                {{ project.name }}
                <div class="ui right floated">
                  <div class="ui tag projx label" ng-show="project.private.batch==='ProjX Fall 2016'">ProjX Fall 2016</div>
                  <div class="ui tag yellow label" ng-show="project.display.complete==='yes'">Application complete</div>
                  <div class="ui tag red label" ng-show="project.display.complete==='no'">Application incomplete</div>
                </div>
              </div>
              <div class="description">{{ project.public.projectPitch }}</div>
            </div>
          </a>
          <a class="ui card" href="/apply">
            <div class="content new">
              <div class="header"><i class="plus icon"></i> New Application (late)</div>
              <div class="description">Create a new project to apply to ProjX for fall 2016!</div>
            </div>
          </a>
        </div>
        <br>

      </div>

    </div>
  </div>
</div>
