<!DOCTYPE html>
<html ng-app="portal">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <title>ProjX Portal</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- lib css -->
        <link href="/assets/lib/semantic.min.css" rel='stylesheet'>
        <link href="/assets/lib/sweetalert.css" rel='stylesheet'>

        <!-- custom style -->
        <link href="/assets/css/main.css" rel='stylesheet'>

    </head>

    <body>
        <div ng-view></div>
    </body>

    <!-- lib js -->
    <script src="/assets/lib/angular.min.js"></script>
    <script src="/assets/lib/angular-route.min.js"></script>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/semantic.min.js"></script>
    <script src="/assets/lib/sweetalert.min.js"></script>

    <!-- angular app -->
    <script src="/assets/js/portal-app.js"></script>
    <script src="/assets/js/login-controller.js"></script>
    <script src="/assets/js/header-controller.js"></script>
    <script src="/assets/js/home-controller.js"></script>
    <script src="/assets/js/profile-controller.js"></script>
    <script src="/assets/js/project-controller.js"></script>
    <script src="/assets/js/apply-controller.js"></script>
    <script src="/assets/js/admin-controller.js"></script>
    <script src="/assets/js/terms-controller.js"></script>

    <!-- analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68857417-1', 'auto');
      ga('send', 'pageview');
    </script>

</html>
