<loader-include></loader-include>

<div id="profile-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- profile -->
        <h2>
          info
          <div class="ui tiny button" ng-click="editProfile()" ng-if="(user.email === profileUser.email) || (user.isAdmin)">
            <div ng-hide="editStatus"><i class="ui write icon"></i>edit</div>
            <div ng-show="editStatus"><i class="ui checkmark icon"></i>save</div>
          </div>
        </h2>
        <table class="ui celled striped unstackable table">
          <tr ng-repeat="(field, key) in profileFields">
            <td class="field">{{ field }}</td>
            <td ng-hide="editStatus" ng-style="(profileUser[key]) ? {} : {'font-style':'italic'}">
              {{ profileUser[key] || 'none' }}
            </td>
            <td ng-show="editStatus">
              <div class="ui input"><input type="text" ng-model="profileUser[field]"></div>
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>
