<loader-include></loader-include>

<div id="project-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <div class="ui tag projx label" ng-show="projectDisplay.batch==='ProjX Fall 2016'">ProjX Fall 2016</div>
        <div class="ui tag yellow label" ng-show="projectDisplay.complete==='yes'">Application complete</div>
        <div class="ui tag red label" ng-show="projectDisplay.complete==='no'">Application incomplete</div>

        <h2>
          <span ng-hide="editStatus">summary</span>
          <span ng-show="editStatus">info</span>
          <div class="ui tiny button" ng-click="editProject()">
            <div ng-hide="editStatus"><i class="ui write icon"></i>edit</div>
            <div ng-show="editStatus"><i class="ui checkmark icon"></i>save</div>
          </div>
        </h2>

        <div class="project-display" ng-hide="editStatus">
          <table class="ui celled striped unstackable table">
            <tr ng-repeat="(key, val) in projectDisplay">
              <td class="field">{{ key }}</td>
              <td class="breakwrap" ng-style="(val) ? {'white-space': 'pre-wrap'} : {'font-style': 'italic'}">{{ val || 'none' }}</td>
            </tr>
          </table>
          <br>
	</div>

	<div class="project-form" ng-show="editStatus">
        <div class="ui segment form">
          <div class="ui required field">
            <label>project name</label>
            <input type="text" placeholder="catchy project name" ng-model="project.name">
          </div>
          <div class="ui field">
            <label>team</label>
            <div class="ui grouped fields">
              <div class="field" ng-repeat="member in project.public.team">
                <div class="ui radio checkbox">
                  <input type="radio" name="team" ng-model="project.private.primary" value="{{ member }}">
                  <label>
                    {{ member }}
                    <i class="ui red close icon remove-member" ng-click="removeMember(member)" ng-hide="member===user.email || member===project.private.primary"></i>
                    <span ng-show="member===project.private.primary"><i>(team lead)</i></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="three fields">
              <div class="field">
                <div class="ui icon input">
                  <input type="text" placeholder="enter an @mit.edu email address" ng-model="newMember">
                  <i class="inverted circular plus link icon" ng-click="addMember()"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="ui field">
            <label>team description</label>
            <textarea rows="3" ng-model="project.public.teamDescription" placeholder="backgrounds and any relevant experiences of team members (although experience is not necessary)"></textarea>
          </div>
          <div class="ui field">
            <label>pitch</label>
            <textarea rows="3" ng-model="project.public.projectPitch" placeholder="single-line summary of your project"></textarea>
          </div>
          <div class="ui field">
            <label>project description</label>
            <textarea rows="6" ng-model="project.public.projectDescription" placeholder="detailed description of your project"></textarea>
          </div>
        </div>
        <h2>budget and timeline</h2>
        <div class="ui segment form">
          <div class="ui field">
            <label>budget amount</label>
            <input type="text" ng-model="project.private.budgetAmount" placeholder="funding amount you are requesting, at most $500">
          </div>
          <div class="ui field">
            <label>budget breakdown</label>
            <textarea rows="6" ng-model="project.private.budgetBreakdown" placeholder="please provide an itemized breakdown of your requested budget, feel free to link to spreadsheet (e.g. Google sheets)"></textarea>
          </div>
          <div class="ui field">
            <label>other funding</label>
            <textarea rows="3" ng-model="project.private.otherFunding" placeholder="are you getting funding from any other sources? if so, which sources?"></textarea>
          </div>
          <div class="ui field">
            <label>timeline</label>
            <textarea rows="6" ng-model="project.private.timeline" placeholder="please outline an expected timeline with specific milestones, feel free to link to spreadsheet (e.g. Google sheets)"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
