<!-- this page sends a post request to sign in to your already existing account -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GalleXy</title>
  <!-- Include bootstrap stylesheet -->
  <link type="text/css", rel="stylesheet", href="../assets/lib/bootstrap.min.css"/>
  <!-- Include Default stylesheet -->
  <link type="text/css", rel="stylesheet", href="../assets/css/stylesheet.css"/>
  <!-- Logo -->
  <link rel="icon" href="../assets/img/GALAXY.png">
  <!-- Include JQuery -->
  <script src='../assets/lib/jquery.min.js'></script>
  <!-- Include Bootstrap -->
  <script src='../assets/lib/bootstrap.min.js'></script>
</head>
<body>
  <div class="header">
      <h1>GalleXy</h1>
      <button class="button" onclick="signInClicked()">Sign In</button>
      <button class="button" onclick="signUpClicked()">Sign Up</button>
  </div>
  <div class="content">

  </div>
  <div class="footer">
    <h3>A project gallery for ProjX and HackMIT</h3>
    <h3>Images courtesy of <a href="https://www.nasa.gov/">NASA</a></h3>
    <a href = "http://techx.mit.edu">
      <img id="techx" src="../assets/img/techx-logo.svg" alt="Powered by MIT TechX">
    </a>
  </div>
  <!-- Include scripts here-->
</body>
</html>
