<!-- this is a page where you can send out a post request to sign up to list your project on our website-->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GalleXy</title>
  <!-- Include bootstrap stylesheet -->
  <link type="text/css", rel="stylesheet", href="../assets/lib/bootstrap.min.css"/>
  <!-- Include Default stylesheet -->
  <link type="text/css", rel="stylesheet", href="../assets/css/stylesheet.css"/>
  <!-- Logo -->
  <link rel="icon" href="../assets/img/GALAXY.png">
  <!-- Include JQuery -->
  <script src='../assets/lib/jquery.min.js'></script>
  <!-- Include Bootstrap -->
  <script src='../assets/lib/bootstrap.min.js'></script>
</head>
<body>
  <div class="header">
      <a href= "/"><h1>Galle<span style="font-weight:900;">X</span>y</h1></a>
      <button class="button" onclick="signInClicked()">Sign In</button>
      <button class="button" onclick="homeClicked()">Gallery</button>
  </div>
  <div class="content quick-center">
    <div class="main-content-panel">
      <h2>Sign Up</h2>
      <form id="signup" class = "sign-form" method="post" action="/signup">
      <table>
        <tr>
          <td><label for="username">Username </label></td>
          <td><input class="form-element" id="username"></td>
        </tr>
        <tr>
          <td><label for="password">Password </label></td>
          <td><input class="form-element" id="password" type="password"></td>
        </tr>
        <tr>
          <td><label for="password">Confirm Password </label></td>
          <td><input class="form-element" id="password" type="password"></td>
        </tr>
        <tr>
          <td><label for="firstname">First Name </label></td>
          <td><input id="firstname"></td>
        </tr>
        <tr>
          <td><label for="lastname">Last Name </label></td>
          <td><input class="form-element" id="lastname" placeholder=""></td>
        </tr>
        <tr>
          <td><label for="email">Email </label></td>
          <td><input class="form-element" id="email" placeholder="must be an @mit.edu"></td>
        </tr>
        <tr>
          <td></td>
          <td>
              <button form="signup" type="submit">Create</button>
              <button onclick="back()">Back</button>
          </td>
        </tr>
      </table>
      </form>
    </div>
  </div>
  <div class="footer">
    <h3>A project gallery for ProjX and HackMIT</h3>
    <h3>Images courtesy of <a href="https://www.nasa.gov/">NASA</a></h3>
    <a href = "http://techx.mit.edu">
      <img id="techx" src="../assets/img/techx-logo.svg" alt="Powered by MIT TechX">
    </a>
  </div>
  <!-- Include scripts here-->
  <script src="../assets/js/nav.js"></script>
</body>
</html>
