<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GalleXy</title>
  <!-- Include bootstrap stylesheet -->
  <link type="text/css", rel="stylesheet", href="../assets/lib/bootstrap.min.css"/>
  <!-- Include Default stylesheet -->
  <link type="text/css", rel="stylesheet", href="../assets/css/stylesheet.css"/>
  <!-- Include JQuery -->
  <script src='../assets/lib/jquery.min.js'></script>
  <!-- Include Bootstrap -->
  <script src='../assets/lib/bootstrap.min.js'></script>
</head>
<body>
  <div class="header">
      <h1>GalleXy</h1>
      <button class="button" onclick="signInClicked()">Sign In</button>
      <button class="button" onclick="signUpClicked()">Sign Up</button>
  </div>
  <div class="sub-header">
    <form autocomplete="off" method="post" action="/search">
        <input type="search" class="searchBar" name="search" placeholder="Find Projects...">
        <button  type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </div>
    <div class="flex projects">
      <a href="project.html">
        <div class="project ">
          <img class="projectImage", src="../assets/img/projx-logo.svg"/>
          <p class="title"><strong>Title </strong></p>
          <p class="desc">A quick description goes here. If space need be, then this can become a lot longer to acommodate that...</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/harambe.jpg"/>
          <p class="title"><strong>RIP Harambe</strong></p>
          <p class="desc">Our Project brought harambe back from the dead. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project"><img class="projectImage", src="../assets/img/dat_boi.jpg"/>
          <p class="title"><strong>Oh Shit Waddup</strong></p>
          <p class="desc">We wrote a program tp generate new dat bois.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/Feels_good_man.jpg"/>
          <p class="title"><strong>Pepe Rescue Project</strong></p>
          <p class="desc">Millions of innocent pepes are abondoned by people searching for the rarest pepes </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/justDoIt.gif"/>
          <p class="title"><strong>Nike Sponsored Energy Drink</strong></p>
          <p class="desc">JUST DO IT, DON'T LET YOUR MEMES BE DREAMS. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/TIMbeaverFace.jpg"/>
          <p class="title"><strong>5 nights at TIM's</strong></p>
          <p class="desc">A very spoopy video game where the player is trapted in a room full of animatronic TIM's for a week. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project ">
          <img class="projectImage", src="../assets/img/projx-logo.svg"/>
          <p class="title"><strong>Title</strong></p>
          <p class="desc">A quick description goes here.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/harambe.jpg"/>
          <p class="title"><strong>RIP Harambe</strong></p>
          <p class="desc">Our Project brought harambe back from the dead. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project"><img class="projectImage", src="../assets/img/dat_boi.jpg"/>
          <p class="title"><strong>Oh Shit Waddup</strong></p>
          <p class="desc">We wrote a program tp generate new dat bois.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/Feels_good_man.jpg"/>
          <p class="title"><strong>Pepe Rescue Project</strong></p>
          <p class="desc">Millions of innocent pepes are abondoned by people searching for the rarest pepes </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/justDoIt.gif"/>
          <p class="title"><strong>Nike Sponsored Energy Drink</strong></p>
          <p class="desc">JUST DO IT, DON'T LET YOUR MEMES BE DREAMS. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/TIMbeaverFace.jpg"/>
          <p class="title"><strong>5 nights at TIM's</strong></p>
          <p class="desc">A very spoopy video game where the player is trapted in a room full of animatronic TIM's for a week. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project ">
          <img class="projectImage", src="../assets/img/projx-logo.svg"/>
          <p class="title"><strong>Title</strong></p>
          <p class="desc">A quick description goes here.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/harambe.jpg"/>
          <p class="title"><strong>RIP Harambe</strong></p>
          <p class="desc">Our Project brought harambe back from the dead. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project"><img class="projectImage", src="../assets/img/dat_boi.jpg"/>
          <p class="title"><strong>Oh Shit Waddup</strong></p>
          <p class="desc">We wrote a program tp generate new dat bois.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/Feels_good_man.jpg"/>
          <p class="title"><strong>Pepe Rescue Project</strong></p>
          <p class="desc">Millions of innocent pepes are abondoned by people searching for the rarest pepes </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/justDoIt.gif"/>
          <p class="title"><strong>Nike Sponsored Energy Drink</strong></p>
          <p class="desc">JUST DO IT, DON'T LET YOUR MEMES BE DREAMS. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/TIMbeaverFace.jpg"/>
          <p class="title"><strong>5 nights at TIM's</strong></p>
          <p class="desc">A very spoopy video game where the player is trapted in a room full of animatronic TIM's for a week. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project ">
          <img class="projectImage", src="../assets/img/projx-logo.svg"/>
          <p class="title"><strong>Title</strong></p>
          <p class="desc">A quick description goes here.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/harambe.jpg"/>
          <p class="title"><strong>RIP Harambe</strong></p>
          <p class="desc">Our Project brought harambe back from the dead. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project"><img class="projectImage", src="../assets/img/dat_boi.jpg"/>
          <p class="title"><strong>Oh Shit Waddup</strong></p>
          <p class="desc">We wrote a program tp generate new dat bois.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/Feels_good_man.jpg"/>
          <p class="title"><strong>Pepe Rescue Project</strong></p>
          <p class="desc">Millions of innocent pepes are abondoned by people searching for the rarest pepes </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/justDoIt.gif"/>
          <p class="title"><strong>Nike Sponsored Energy Drink</strong></p>
          <p class="desc">JUST DO IT, DON'T LET YOUR MEMES BE DREAMS. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/TIMbeaverFace.jpg"/>
          <p class="title"><strong>5 nights at TIM's</strong></p>
          <p class="desc">A very spoopy video game where the player is trapted in a room full of animatronic TIM's for a week. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/projx-logo.svg"/>
          <p class="title"><strong>Title</strong></p>
          <p class="desc">A quick description goes here.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/harambe.jpg"/>
          <p class="title"><strong>RIP Harambe</strong></p>
          <p class="desc">Our Project brought harambe back from the dead. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project"><img class="projectImage", src="../assets/img/dat_boi.jpg"/>
          <p class="title"><strong>Oh Shit Waddup</strong></p>
          <p class="desc">We wrote a program tp generate new dat bois.</p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/Feels_good_man.jpg"/>
          <p class="title"><strong>Pepe Rescue Project</strong></p>
          <p class="desc">Millions of innocent pepes are abondoned by people searching for the rarest pepes </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/justDoIt.gif"/>
          <p class="title"><strong>Nike Sponsored Energy Drink</strong></p>
          <p class="desc">JUST DO IT, DON'T LET YOUR MEMES BE DREAMS. </p>
        </div>
      </a>
      <a href="project.html">
        <div class="project">
          <img class="projectImage", src="../assets/img/TIMbeaverFace.jpg"/>
          <p class="title"><strong>5 nights at TIM's</strong></p>
          <p class="desc">A very spoopy video game where the player is trapted in a room full of animatronic TIM's for a week. </p>
        </div>
      </a>
  </div>
  <div class="footer">
    <h3>A project gallery for ProjX and HackMIT</h3>
    <h3>Images courtesy of <a href="https://www.nasa.gov/">NASA</a></h3>
    <a href = "http://techx.mit.edu">
      <img class="techx" src="../assets/img/techx-logo.svg" alt="Powered by MIT TechX">
    </a>
  </div>
  <!-- Include scripts here-->
  <script src="../assets/js/main.js"></script>
</body>
</html>
