<!DOCTYPE HTML>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>MIT ProjX</title>

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="assets/css/splash.css" rel='stylesheet' type='text/css' />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68857417-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav biko">
            <li><a class="goto-faq">faq</a></li>
            <li><a class="goto-spotlight">spotlight</a></li>
            <li><a href="/portal">portal</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="main">
      <img src="assets/img/projx-logo.svg" alt="projx" class="logo">
      <div class="subtitle">student funding for student projects</div>
      <div class="chevron">
        <a class="glyphicon glyphicon-menu-down goto-faq down-arrow" aria-hidden="true"></a>
      </div>
    </section>

    <section id="faq">
      <div class="title">
        FAQ
      </div>
      <div class="content">
        <div class="faq-item">
          <div class="question">
            What is ProjX?
          </div>
          <div class="answer">
            ProjX is a branch of TechX that provides funding for MIT student projects every semester, helping students bring their dream projects to life and giving them a chance to demo their creations at the annual <a href="http://xfair.mit.edu/">xFair</a>.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            How much funding can I get?
          </div>
          <div class="answer">
            The maximum funding that the ProjX team can provide per team is $500 for longer batches and $250 for shorter batches.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            How do I apply for funding?
          </div>
          <div class="answer">
            Stay tuned for our next batch (approximately around IAP).
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            How is the mentorship structured?
          </div>
          <div class="answer">
            We are in the process of modifying the mentorship program for ProjX. We hope to incorporate more involvement and support via more directed and personal guidance from ProjX mentors.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            Can I get funding for multiple projects?
          </div>
          <div class="answer">
            We believe in empowering students to explore and develop their ideas, so we will evaluate each application independently of others. Therefore, a student can be on multiple teams; however, each student may only be the lead member of one team.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            Can I pivot from my original idea? If so, will this affect me adversely in the future?
          </div>
          <div class="answer">
            Yes. We encourage students to pursue their passions and pivoting is an important part of innovating. As long as the new project is legitimate and would have been funded on its own, ProjX will continue to support you. No, this will not affect your applications adversely in the future.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            Can I display my project at xFair even if I wasn't funded?
          </div>
          <div class="answer">
            We want to promote the maker culture at MIT and will do our best to support all student projects, regardless of whether or not they are affiliated with ProjX. However, due to space constraints we may not be able to fit all projects. We will publicize any opportunities to display that open up!
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            Where can I find funding outside of ProjX?
          </div>
          <div class="answer">
            <ul>
              <li><b>Trust Center:</b> Provides entrepreneurship resources</li>
              <li><b>Sandbox Fund:</b> Provides a range of funding for MIT students to develop entrepreneurial initiatives</li>
              <li><b>StartLabs:</b> Puts on events to support student entrepreneurs, stay late and hack (SLACK) nights, startup career fairs</li>
              <li><b>Dorm Room Fund:</b> Provides seed funding for student startups in exchange for equity. "Venture fund for students by student."</li>
              <li><b>Rough Draft VC:</b> Provides seed funding for student startups in exchange for equity. Owned by General Catalyst.</li>
              <li><b>Clean energy prize:</b> prize for undergrads working on energy ideas/companies</li>
              <li><b>Climate CoLab:</b> Offers prizes for climate change and related issues</li>
              <li><b>GFSA:</b> Up to $20k accelerator to launch founders out of MIT for highly structured teams that are ready to launch</li>
              <li><b>IDEAS Global:</b> Supports innovation and entrepreneurship through an annual competition that awards up to $10k per team for the best ideas to tackle certain barriers</li>
              <li><b>MIT CHIEF:</b> Dedicated to contributing to a global entrepreneurial ecosystem, equipping entrepreneurs with resources, immersing their startups into the US or Chinese markets</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="spotlight">
      <div class="title">
        SPOTLIGHT
      </div>
      <div class="subtitle">
        Check out previous projects we've funded
      </div>
      <div class="row image-bar">
        <h1>
          LED Matrix Coffee Table
        </h1>
        <h5>
          An electronically adjustable-height coffee table with embedded Arduino-powered LED matrix.
        </h5>
        <h5>
          Created by David Afolabi
        </h5>
      </div>
      <div class="content">
        Have you ever looked at a piece of furniture and thought how much better it'd be with a LEDs or if it were automated? Take
        an ordinary table for example. Use it as a tracing table? Check! Play games like Snake and Tetris? Check! Show off
        to friends? Definitely check! Now imagine automation. An elegant coffee table that raises to become a stylish desk?
        Check! David Afolabi's 2014 xFair project was this stylish and futuristic table that can lighten up the mood with LEDs
        and raise and lower itself to match the user's height.
        <br>
        <br> The table is made of lasercut wood and uses linear actuators attached to the legs to change height. The 15x24 LED
        matrix made of Adafruit Neopixels is embedded under the polycarbonate table surface. The matrix is controlled by Arduino
        and can be programmed to display any pattern within its resolution. The Arduino is able to convert any image or video
        to format suitable for display on on the table, so any game that can fit in its 360-pixel resolution can be played
        right on the table through two custom-built controllers that interface with the Arduino controller.
        <br>
        <br> David brought a previous version of this table to the 2.007 Engineering Petting Zoo. With the support of ProjX, David
        received $500 to develop this second iteration of his project with greater LED count and vertical height adjustment.
        This project was displayed at xFair 2015!
        <img src="assets/img/led_light_table_2_resize.jpg" />
      </div>
    </section>

    <footer>
      <div class="icons">
        <a href="mailto:projx@mit.edu"><i class="fa fa-envelope fa-2x"></i></a>
        <div class="horizontal-spacer"></div>
        <a href="https://www.facebook.com/mitprojx" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      </div>
      <div class="vertical-spacer"></div>
      <div class="copyright">
        &copy; MIT ProjX 2016
      </div>
      <div class="vertical-spacer"></div>
      <div>
        <a href="http://techx.mit.edu"><img class="techx" src="assets/img/techx-logo.svg" alt="Powered by MIT TechX"></a>
      </div>
    </footer>
  </body>

  <script src="assets/lib/jquery.min.js"></script>
  <script src="assets/lib/bootstrap.min.js"></script>
  <script src="assets/js/splash.js"></script>

</html>
