<div class="footer">
  <h3>A project gallery for ProjX and HackMIT</h3>
  <h3>Images courtesy of <a href="https://www.nasa.gov/">NASA</a></h3>
  <a href = "http://techx.mit.edu">
    <img id="techx" src="../public/img/techx-logo.svg" alt="Powered by MIT TechX">
  </a>
</div>
