<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GalleXy</title>
<!-- Include bootstrap stylesheet -->
<link type="text/css", rel="stylesheet", href="../public/lib/bootstrap.min.css"/>
<!-- Include Default stylesheet -->
<link type="text/css", rel="stylesheet", href="../public/css/stylesheet.css"/>
<!-- Logo -->
<link rel="icon" href="../public/img/GALAXY.png">
<!-- Include JQuery -->
<script src='../public/lib/jquery.min.js'></script>
<!-- Include Bootstrap -->
<script src='../public/lib/bootstrap.min.js'></script>
